<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Input page</title>
    </h:head>
    <h:body>
        <h:form>
            What is your name: <h:inputText id="name" value="#{userBean.name}"/><br/>
            <h:commandButton id="submitButton" value="submit" action="#{userBean.saveUser}"/><br/>
            <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        </h:form>
    </h:body>
</html>

